* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.wrap {
  display: flex;
  align-items: center;
}

button[type='button'] {
  width: 100px;
  height: 35px;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #969696;
  background-color: rgb(223, 223, 223);
}

input[type='text'] {
  margin-right: 10px;
  padding-left: 10px;
  max-width: 250px;
  height: 35px;
  font-size: 20px;
  border: 1px solid #969696;
  border-radius: 4px;
}

.timer {
  display: flex;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field + .field {
  margin-left: 20px;
}

.value {
  font-size: 48px;
}

.label {
  text-transform: uppercase;
  font-size: 18px;
}
